{{/*
SPDX-FileCopyrightText: 2023 Phu Hung Nguyen <phu@kde.org>
SPDX-License-Identifier: LGPL-2.1-or-later
*/}}

{{ define "head-import" }}
{{ $style := resources.Get "scss/applications.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ end }}

{{ define "main" }}
<main class="container">
  <h2>{{ partial "term_title" . }}</h2>
  {{- $subcat_edu := partial "fn/subcat_apps" (dict "cat" "education") -}}

  <div class="py-3">
  {{- range $subcat, $apps := $subcat_edu }}
    {{- $toAnchor := $subcat -}}
    {{- if eq $subcat "mathematics" }}{{ $toAnchor = "maths" -}}
    {{- else if eq $subcat "miscellaneous" }}{{ $toAnchor = "misc" }}{{ end -}}
    <section>
      <h3 id="{{ anchorize $toAnchor }}">{{ i18n (print "education-" $subcat) }}</h3>
      <div class="applications">
      {{- range $apps }}
        {{ partial "app_tile.html" . }}
      {{- end }}
      </div>
    </section>
  {{- end }}
  </div>

  <section>
    <h3 id="vocab-files">{{ i18n "education.vocab" }}</h3>
    <p>{{ i18n "education.vocab.intro" }}</p>
    <p>{{ partial "fn/i18n_args" (slice "education.kvtml" "/parley" "/kwordquiz" "/kanagram" "/khangman") | markdownify }}</p>
    <p>{{ i18n "education.vocab.intro2" | safeHTML }}</p>

    <p><b>{{ i18n "education.vocab.create" }}</b></p>
    <ul>
      <li>{{ partial "fn/i18n_args" (slice "education.vocab.create.kwordquiz" "/kwordquiz") | markdownify }}</li>
      <li>{{ partial "fn/i18n_args" (slice "education.vocab.create.parley" "/parley") | markdownify }}</li>
      <li>{{ partial "fn/i18n_args" (slice "education.vocab.create.example" "https://cdn.kde.org/edu/kvtml/sample.txt") | markdownify }}</li>
    </ul>

    <h4 id="kvtml2">kvtml2</h4>
    <h5>{{ i18n "education.vocab.lang" }}</h5>
    <ul>
      <li>
      <a href="https://cdn.kde.org/edu/kvtml2/language/englisch.kvtml">English - German</a>,
      Green Line, 1696 Entries
      </li>

      <li>
      <a href="https://cdn.kde.org/edu/kvtml2/language/en-esp-no-01.kvtml">English - Spanish - Norwegian (Bokmål)</a>,
      5 Lessons, 138 Entries
      </li>

      <li>
      <a href="https://cdn.kde.org/edu/kvtml2/language/GeorgianAlphabet.kvtml">Georgian Alphabet</a>,
      Includes Georgian Mkhedruli (მხედრული) alphabet, 2 common transliteration systems, and the
      IPA symbols for the most common phonetical realizations of the letters. 7 Lessons, 66 Entries
      </li>

      <li>
      <a href="https://cdn.kde.org/edu/kvtml2/language/cat-es-ger.kvtml">Catalan - German - Spanish</a>,
      Irregular German verbs, 6 Lessons, 388 Entries
      </li>

      <li>
      <a href="https://cdn.kde.org/edu/kvtml2/language/danish.kvtml">Danish - English</a>,
      1 Lessons, 2000 Entries
      </li>

      <li>
      <a href="https://cdn.kde.org/edu/kvtml2/language/dansk4000.kvtml">English - Danish</a>,
      1 Lessons, 12762 Entries
      </li>

      <li>
      <a href="https://cdn.kde.org/edu/kvtml2/language/de-uk-es-ar2.kvtml">Russian - German - English - Arabic - Spanish</a>,
      The start of an extensive collection in four languages. Please note that it's not finished.
      35 Lessons, 6432 Entries
      </li>

      <li>
      <a href="https://cdn.kde.org/edu/kvtml2/language/en-de-es-ar-ru.tar.bz2">Russian - German - English - Arabic - Spanish</a>,
      The start of an extensive collection in four languages. Includes pictures.
      36 Lessons, 6429 Entries
      </li>

      <li>
      <a href="https://cdn.kde.org/edu/kvtml2/language/de_irregular_verbs.kvtml">Verb - español - Präteritum, Partizip</a>,
      deutsche unregelmäβige Verben, spanische Übersetzung, some irregular verbs for A2, and spanish translation.
      13 Lessons, 202 Entries
      </li>

      <li>
      <a href="https://cdn.kde.org/edu/kvtml2/language/el-en.kvtml">Greek - English</a>,
      25 Lessons, 1705 Entries
      </li>

      <li>
      <a href="https://cdn.kde.org/edu/kvtml2/language/en-nb.kvtml">Norwegian Bokmål - English</a>,
      Should be edited by others for better and more accurate results and learning. There are more
      kind of times of the verbs in Norwegian than those who appear here.
      2 Lessons, 120 Entries
      </li>

      <li>
      <a href="https://cdn.kde.org/edu/kvtml2/language/graecum.kvtml">Greek - German</a>,
      Graecum (German - Ancient Greek). No spiritus asper/lenis (didn't work on my machine).
      9 Lessons, 5594 Entries
      </li>

      <li>
      <a href="https://cdn.kde.org/edu/kvtml2/language/kanji-english.tar.bz2">English - Kanji</a>,
      This document contains a subset of KANJIDIC, namely the 1945 kanji (jouyou kanji) taught in
      Japanese school, grades 1 to 6, and in secondary school. It was generated from Jim Breen's
      KANJIDIC (http://www.csse.monash.edu.au/~jwb/kanjidic.html) by Tomas Åkesson on 26 May 2008.
      This file is distributed in accordance with the licence provisions of the Electronic
      Dictionaries Research Group. See http://www.csse.monash.edu.au/~jwb/kanjidic.html and
      http://www.edrdg.org/.
      46 Lessons, 3890 Entries
      </li>

      <li>
      <a href="https://cdn.kde.org/edu/kvtml2/language/latinum.kvtml">German - Latin</a>,
      9 Lessons, 6314 Entries
      </li>

      <li>
      <a href="https://cdn.kde.org/edu/kvtml2/language/radicals.kvtml">Pinyin (Mandarin) - Jyutping (Cantonese) - English - Chinese</a>,
      12 Lessons, 478 Entries
      </li>
    </ul>

    <h5>{{ i18n "education.vocab.exam" }}</h5>
    <ul>
      <li>
      <a href="https://cdn.kde.org/edu/kvtml2/exam/18th%20Century%20Prime%20Ministers.kvtml">18th Century Prime Ministers</a>,
      1 Lessons, 32 Entries
      </li>

      <li>
      <a href="https://cdn.kde.org/edu/kvtml2/exam/19th%20Century%20Prime%20Ministers.kvtml">19th Century Prime Ministers</a>.
      1 Lessons, 66 Entries
      </li>

      <li>
      <a href="https://cdn.kde.org/edu/kvtml2/exam/20th%20Century%20Prime%20Ministers.kvtml">20th Century Prime Ministers</a>,
      1 Lessons, 52 Entries
      </li>

      <li>
      <a href="https://cdn.kde.org/edu/kvtml2/exam/CA%20VDV%20Cert.kvtml">CA - Voice Data Video Certification</a>,
      3 Lessons, 330 Entries
      </li>

      <li>
      <a href="https://cdn.kde.org/edu/kvtml2/exam/Monarchs%20of%20England.kvtml">Monarchs of England</a>,
      1 Lessons, 136 Entries
      </li>

      <li>
      <a href="https://cdn.kde.org/edu/kvtml2/exam/SI_prefixes.kvtml">SI Prefixes</a>,
      1 Lessons, 40 Entries
      </li>

      <li>
      <a href="https://cdn.kde.org/edu/kvtml2/exam/chimie.kvtml">Chimie</a>,
      1 Lessons, 82 Entries
      </li>

      <li>
      <a href="https://cdn.kde.org/edu/kvtml2/exam/lrc-ab-2007-10-01.kvtml">Long Range Certificate (LRC)</a>,
      5 Lessons, 224 Entries
      </li>

      <li>
      <a href="https://cdn.kde.org/edu/kvtml2/exam/pyro.kvtml">Fachkundenachweis für Seenotsignalmittel gemäß Sprengstoffrecht</a>,
      1 Lessons, 120 Entries
      </li>

      <li>
      <a href="https://cdn.kde.org/edu/kvtml2/exam/src-ab-2007-10-01.kvtml">Short Range Certificate (SRC)</a>,
      5 Lessons, 514 Entries
      </li>

      <li>
      <a href="https://cdn.kde.org/edu/kvtml2/exam/ubi-ab-1.10.07.kvtml">UKW-Sprechfunkzeugnis (UBI)</a>,
      4 Lessons, 396 Entries
      </li>

      <li>
      <a href="https://cdn.kde.org/edu/kvtml2/exam/ubi-erweiterung-auf-src-lrc-ab-1.10.07.kvtml">UKW-Sprechfunkzeugnis (UBI)</a>,
      3 Lessons, 396 Entries
      </li>
    </ul>

    <h4 id="kvtml">kvtml</h4>
    <h5>{{ i18n "education.vocab.lang" }}</h5>
    <ul>
      <li>
      Tarball of German to Latin vocabulary files -
      <a href="https://cdn.kde.org/edu/kvtml/dela.tar.bz2">dela.tar.bz2</a>,
      alphabetical order from German words
      </li>

      <li>
      Tarball of Latin to German vocabulary files -
      <a href="https://cdn.kde.org/edu/kvtml/lade.tar.bz2">lade.tar.bz2</a>,
      alphabetical order from Latin words
      </li>

      <li>
      Basic words English/German -
      <a href="https://cdn.kde.org/edu/kvtml/basic_vocabulary_en2de.kvtml">basic_vocabulary_en2de.kvtml</a>,
      1332 entries in 47 lessons
      </li>

      <li>
      English/German - Edgar Allen Poe: The Raven -
      <a href="https://cdn.kde.org/edu/kvtml/the_raven.kvtml">the_raven.kvtml</a>
      </li>

      <li>
      Intended for german pupils: Vorbereitung Abitur Englisch -
      <a href="https://cdn.kde.org/edu/kvtml/En.AbiVorb.Vokabeln.kvtml">En.AbiVorb.Vokabeln.kvtml</a>,
      Some remarks, verbs and adjectives
      </li>

      <li>
      General words German/Spanish -
      <a href="https://cdn.kde.org/edu/kvtml/spanisch.kvtml">spanisch.kvtml</a>,
      Some conjugation
      </li>

      <li>
      A collection of German/Spanish vocabularies -
      <a href="https://cdn.kde.org/edu/kvtml/tests_deutsch_spanisch.tar.bz2">tests_deutsch_spanisch.tar.bz2</a>
      </li>

      <li>
      Basic words English/Czech -
      <a href="https://cdn.kde.org/edu/kvtml/basic_english_czech.kvtml">basic_english_czech.kvtml</a>
      </li>

      <li>
      Basic words English/Dutch -
      <a href="https://cdn.kde.org/edu/kvtml/nederlands.kvtml">nederlands.kvtml</a>
      </li>

      <li>
      Irregular verbs, English/French -
      <a href="https://cdn.kde.org/edu/kvtml/eng-fra_irregular_verbs.kvtml">eng-fra_irregular_verbs.kvtml</a>,
      Includes conjugations
      </li>

      <li>
      Words of daily use, English/French -
      <a href="https://cdn.kde.org/edu/kvtml/eng-fra_daily_words.kvtml">eng-fra_daily_words.kvtml</a>,
      Includes conjugations
      </li>

      <li>
      Basic words English/Japanese -
      <a href="https://cdn.kde.org/edu/kvtml/japanese5-6.kvtml">japanese5-6.kvtml</a>,
      <a href="https://cdn.kde.org/edu/kvtml/japanese.kvtml">japanese.kvtml</a>,
      <a href="https://cdn.kde.org/edu/kvtml/japanese10.kvtml">japanese10.kvtml</a>,
      <a href="https://cdn.kde.org/edu/kvtml/japanese11.kvtml">japanese11.kvtml</a>,
      <a href="https://cdn.kde.org/edu/kvtml/japanese12.kvtml">japanese12.kvtml</a>,
      <a href="https://cdn.kde.org/edu/kvtml/japanese7.kvtml">japanese7.kvtml</a>,
      <a href="https://cdn.kde.org/edu/kvtml/japanese8.kvtml">japanese8.kvtml</a>,
      <a href="https://cdn.kde.org/edu/kvtml/japanese9.kvtml">japanese9.kvtml</a>,
      <a href="https://cdn.kde.org/edu/kvtml/jpn_club_a.kvtml">jpn_club_a.kvtml</a>,
      <a href="https://cdn.kde.org/edu/kvtml/jpn_expr_a.kvtml">jpn_expr_a.kvtml</a>,
      Needs Japanese fonts
      </li>

      <li>
      Help for learning Katakana alphabet -
      <a href="https://cdn.kde.org/edu/kvtml/katakana.kvtml">katakana.kvtml</a>,
      Needs Japanese fonts
      </li>

      <li>
      Help for learning Hirigana alphabet -
      <a href="https://cdn.kde.org/edu/kvtml/hirigana.kvtml">hirigana.kvtml</a>,
      Needs Japanese fonts
      </li>

      <li>
      Basic English/Korean vocabulary -
      <a href="https://cdn.kde.org/edu/kvtml/korean_lesson1.kvtml">korean_lesson1.kvtml</a>,
      <a href="https://cdn.kde.org/edu/kvtml/korean_lesson2.kvtml">korean_lesson2.kvtml</a>,
      Needs Unicode font
      </li>

      <li>
      Strong verbs used in Norwegian Nynorsk for KVocTrain -
      <a href="https://cdn.kde.org/edu/kvtml/sterke_verb_(nynorsk).kvtml">sterke_verb_(nynorsk).kvtml</a>,
      Conjugation
      </li>

      <li>
      German - Esperanto words -
      <a href="https://cdn.kde.org/edu/kvtml/vortaro-eo-de.kvtml">vortaro-eo-de.kvtml</a>,
      278 words
      </li>

      <li>
      German - Esperanto words -
      <a href="https://cdn.kde.org/edu/kvtml/vortoj-de-eo.kvtml">vortoj-de-eo.kvtml</a>,
      163 words
      </li>

      <li>
      Polish - German adjectives -
      <a href="https://cdn.kde.org/edu/kvtml/pl_de_adjective1.kvtml">pl_de_adjective1.kvtml</a>
      </li>

      <li>
      Polish - German verbs. - to train Präteritum and Partizip II -
      <a href="https://cdn.kde.org/edu/kvtml/pl_de_verb1.kvtml">pl_de_verb1.kvtml</a>
      </li>

      <li>
      Polish - French basic vocabulary -
      <a href="https://cdn.kde.org/edu/kvtml/pl_fr_basic1.kvtml">pl_fr_basic1.kvtml</a>
      </li>

      <li>
      English - Lojban vocabulary -
      <a href="https://cdn.kde.org/edu/kvtml/en2lojban.kvtml">en2lojban.kvtml</a>
      </li>

      <li>
      Spanish - Catalan vocabulary -
      <a href="https://cdn.kde.org/edu/kvtml/escat0.2.kvtml">escat0.2.kvtml</a>
      </li>

      <li>
      Some basic words/phrases for german / arabic -
      <a href="https://cdn.kde.org/edu/kvtml/de-ar-1.kvtml">de-ar-1.kvtml</a>,
      Includes arabic without vocal signs, and arabic with.
      </li>

      <li>
      Some basic words/phrases for german / arabic level 2 -
      <a href="https://cdn.kde.org/edu/kvtml/de-ar-2.kvtml">de-ar-2.kvtml</a>,
      Includes arabic without vocal signs, and arabic with.
      </li>

      <li>
      A collection of chinese files will be included with kde4 chinese language pack(s) -
      <a href="https://cdn.kde.org/edu/kvtml/chinese-kvtml-1.0.tar.gz">chinese-kvtml-1.0.tar.gz</a>,
      Includes: HSK test sets A-D all words now, and most frequent 2000 characters grouped into 500 character files.
      </li>

      <li>
      Turkish and german - words, sentence chunks (constructions) and sentences (from a grammar, mostly) -
      <a href="https://cdn.kde.org/edu/kvtml/tr-de.kvtml">tr-de.kvtml</a>,
      792 entries.
      </li>

      <li>
      Brasilian Portugese - German 1.0 -
      <a href="https://cdn.kde.org/edu/kvtml/pt_BR-de.kvtml">pt_BR-de</a>,
      Including Portugese conjugations and many example sentences.
      </li>

      <li>
      Arabic-Dutch-English -
      <a href="https://cdn.kde.org/edu/kvtml/ar-nl-en.kvtml">ar-nl-en</a>,
      Still growing, the first 400 words.
      </li>
    </ul>

    <h5>{{ i18n "education.vocab.anatomy" }}</h5>
    <h6>{{ i18n "education.vocab.anatomy.joints" }}</h6>
    <ul>
      <li>
      German - general information on joints (Gelenke):
      <a href="https://cdn.kde.org/edu/kvtml/a_gelenke.kvtml">a_gelenke.kvtml</a>
      </li>

      <li>
      German - the knee
      <a href="https://cdn.kde.org/edu/kvtml/a_knie.kvtml">a_knie.kvtml</a>,
      example uses the right knee.
      </li>
    </ul>

    <h6>{{ i18n "education.vocab.anatomy.bones" }}</h6>
    <ul>
      <li>
      German - general information on bones -
      <a href="https://cdn.kde.org/edu/kvtml/o_allgemein.kvtml">o_allgemein.kvtml</a>
      </li>

      <li>
      German - the hip -
      <a href="https://cdn.kde.org/edu/kvtml/o_becken.kvtml">o_becken.kvtml</a>
      </li>

      <li>
      German - the chest -
      <a href="https://cdn.kde.org/edu/kvtml/o_brustkorb.kvtml">o_brustkorb.kvtml</a>
      </li>

      <li>
      German - the chest, theoretical aspects -
      <a href="https://cdn.kde.org/edu/kvtml/o_brustkorb_th.kvtml">o_brustkorb_th.kvtml</a>
      </li>

      <li>
      German - os humeralis (arm) -
      <a href="https://cdn.kde.org/edu/kvtml/o_oberarm.kvtml">o_oberarm.kvtml</a>
      </li>

      <li>
      German - os humeralis (arm), theoretical aspects -
      <a href="https://cdn.kde.org/edu/kvtml/o_oberarm_th.kvtml">o_oberarm_th.kvtml</a>
      </li>

      <li>
      German - the shoulder -
      <a href="https://cdn.kde.org/edu/kvtml/o_schulter.kvtml">o_schulter.kvtml</a>
      </li>

      <li>
      German - the spine -
      <a href="https://cdn.kde.org/edu/kvtml/o_wirbelsaeule.kvtml">o_wirbelsaeule.kvtml</a>
      </li>
    </ul>

    <h6>{{ i18n "education.vocab.anatomy.muscles" }}</h6>
    <ul>
      <li>
      German - general information on muscles -
      <a href="https://cdn.kde.org/edu/kvtml/m_allgemein.kvtml">m_allgemein.kvtml</a>
      </li>

      <li>
      German - types of contraction -
      <a href="https://cdn.kde.org/edu/kvtml/m_kontrakt.kvtml">m_kontrakt.kvtml</a>
      </li>

      <li>
      German - muscle types -
      <a href="https://cdn.kde.org/edu/kvtml/m_typen.kvtml">m_typen.kvtml</a>
      </li>

      <li>
      German - the stomach -
      <a href="https://cdn.kde.org/edu/kvtml/m_bauch.kvtml">m_bauch.kvtml</a>
      </li>

      <li>
      German - the stomach, theoretical aspects -
      <a href="https://cdn.kde.org/edu/kvtml/m_bauch_th.kvtml">m_bauch_th.kvtml</a>
      </li>

      <li>
      German - the breast -
      <a href="https://cdn.kde.org/edu/kvtml/m_brust.kvtml">m_brust.kvtml</a>
      </li>

      <li>
      German - the breast, theoretical aspects -
      <a href="https://cdn.kde.org/edu/kvtml/m_brust_th.kvtml">m_brust_th.kvtml</a>
      </li>

      <li>
      German - the chest -
      <a href="https://cdn.kde.org/edu/kvtml/m_brustkorb.kvtml">m_brustkorb.kvtml</a>
      </li>

      <li>
      German - the chest, theoretical aspects -
      <a href="https://cdn.kde.org/edu/kvtml/m_brustkorb_th.kvtml">m_brustkorb_th.kvtml</a>
      </li>

      <li>
      German - erector spinae -
      <a href="https://cdn.kde.org/edu/kvtml/m_erectorspinae.kvtml">m_erectorspinae.kvtml</a>
      </li>

      <li>
      German - erector spinae, theoretical aspects -
      <a href="https://cdn.kde.org/edu/kvtml/m_erectorspinae_th.kvtml">m_erectorspinae_th.kvtml</a>
      </li>

      <li>
      German - shoulder belt -
      <a href="https://cdn.kde.org/edu/kvtml/m_schulterguertel.kvtml">m_schulterguertel.kvtml</a>
      </li>
    </ul>

    <h6>{{ i18n "education.vocab.anatomy.ligamenti" }}</h6>
    <ul>
      <li>
      German - general information on the ligamenti -
      <a href="https://cdn.kde.org/edu/kvtml/lig_allg.kvtml">lig_allg.kvtml</a>
      </li>

      <li>
      German - ligamenti humerale (arm) -
      <a href="https://cdn.kde.org/edu/kvtml/lig_oberarm.kvtml">lig_oberarm.kvtml</a>
      </li>

      <li>
      German - the spine's ligamenti -
      <a href="https://cdn.kde.org/edu/kvtml/lig_wirbelsaeule.kvtml">lig_wirbelsaeule.kvtml</a>
      </li>
    </ul>

    <h6>{{ i18n "education.vocab.anatomy.misc" }}</h6>
    <ul>
      <li>
      German - Latin expressions -
      <a href="https://cdn.kde.org/edu/kvtml/mi_begriffe.kvtml">mi_begriffe.kvtml</a>,
      eases learning if you know what the latin expressions mean
      </li>

      <li>
      German - the shock -
      <a href="https://cdn.kde.org/edu/kvtml/mi_schock.kvtml">mi_schock.kvtml</a>
      </li>

      <li>
      German - Injuries and their names -
      <a href="https://cdn.kde.org/edu/kvtml/mi_verletzungen.kvtml">mi_verletzungen.kvtml</a>
      </li>

      <li>
      German - brain injuries -
      <a href="https://cdn.kde.org/edu/kvtml/mi_verletzungen.kvtml">mi_verletzungen hirn.kvtml</a>
      </li>
    </ul>

    <p style="font-size:small">
      Key: a: articulare (joints) ; m: musculi (muscles) ; o: os (bones) ; mi: misc. ; _th: theory
    </p>

    <h5>{{ i18n "education.vocab.music" }}</h5>
    <h6>{{ i18n "education.vocab.music.guitar" }}</h6>
    <ul>
      <li>
      Guitar tuning standard fretboard -
      <a href="https://cdn.kde.org/edu/kvtml/guitar-fretboard-standard-tuning.kvtml">guitar-fretboard-standard-tuning.kvtml</a>,
      Learn which six notes appear on a particular fret for a guitar in standard tuning.  Helps to increase sight-reading speed.
      </li>
    </ul>

    <h6>{{ i18n "education.vocab.music.theory" }}</h6>
    <ul>
      <li>
      all keys signatures -
      <a href="https://cdn.kde.org/edu/kvtml/key-signatures-all-keys.kvtml">key-signatures-all-keys.kvtml</a>,
      Learn to recognise which key a piece of music is written in by examining how many sharps or flats appear in the key signature.
      </li>

      <li>
      keys signatures: major keys -
      <a href="https://cdn.kde.org/edu/kvtml/key-signatures-major-keys.kvtml">key-signatures-major-keys.kvtml</a>,
      A subset of key-signatures-all-keys.kvtml - just the major keys.
      </li>

      <li>
      keys signatures: major keys flat -
      <a href="https://cdn.kde.org/edu/kvtml/key-signatures-major-keys-flats.kvtml">key-signatures-major-keys-flats.kvtml</a>,
      A subset of key-signatures-all-keys.kvtml - just the major keys with flats in the key signature.
      </li>

      <li>
      keys signatures: major keys sharp -
      <a href="https://cdn.kde.org/edu/kvtml/key-signatures-major-keys-sharps.kvtml">key-signatures-major-keys-sharps.kvtml</a>,
      A subset of key-signatures-all-keys.kvtml - just the major keys with sharps in the signature.
      </li>

      <li>
      keys signatures: minor keys -
      <a href="https://cdn.kde.org/edu/kvtml/key-signatures-minor-keys.kvtml">key-signatures-minor-keys.kvtml</a>,
      A subset of key-signatures-all-keys.kvtml - just the minor keys
      </li>

      <li>
      keys signatures: minor keys flat -
      <a href="https://cdn.kde.org/edu/kvtml/key-signatures-minor-keys-flats.kvtml">key-signatures-minor-keys-flats.kvtml</a>,
      A subset of key-signatures-all-keys.kvtml - just the minor keys with flats in the key signature.
      </li>

      <li>
      keys signatures: minor keys sharp -
      <a href="https://cdn.kde.org/edu/kvtml/key-signatures-minor-keys-sharps.kvtml">key-signatures-minor-keys-sharps.kvtml</a>,
      A subset of key-signatures-all-keys.kvtml - just the minor keys with sharps in the key signature.
      </li>

      <li>
      keys signatures: relative major and-minor keys -
      <a href="https://cdn.kde.org/edu/kvtml/relative-major-and-minor-keys.kvtml">relative-major-and-minor-keys.kvtml</a>,
      Each major key shares the same notes as one particular minor key.  Only the starting note diffs.  Each major key is said to have a "relative
      minor".  In reverse, each minor key is said to have a "relative major".
      </li>
    </ul>

    <p style="font-size:small">
    Note: the key-signatures-all-keys file has been broken into -major and -minor, then
    those halves have been separated into -sharps and -flats since it is easier to
    learn those smaller chunks than to try to get everything in one go
    </p>

    <h5>{{ i18n "education.vocab.history" }}</h5>
    <ul>
      <li>
      German - List of the roman emperors from Augustus till the constitution of the tetrachy in 284 a.c. -
      <a href="https://cdn.kde.org/edu/kvtml/Kaiser.kvtml">Kaiser.kvtml</a>
      </li>

      <li>
      List of the different capitals of USA states from the beginning to now -
      <a href="https://cdn.kde.org/edu/kvtml/uS Historical Capitals (advanced).kvtml">uS Historical Capitals (advanced).kvtml</a>
      </li>

      <li>
      Inventors and their inventions - English -
      <a href="https://cdn.kde.org/edu/kvtml/inventors.kvtml">inventors.kvtml</a>
      </li>
    </ul>

    <h5>{{ i18n "education.vocab.geography" }}</h5>
    <ul>
      <li>
      World capitals - English -
      <a href="https://cdn.kde.org/edu/kvtml/world_capitals.kvtml">world_capitals.kvtml</a>
      </li>

      <li>
      World capitals - German -
      <a href="https://cdn.kde.org/edu/kvtml/world_capitals-de.kvtml">world_capitals-de.kvtml</a>
      </li>

      <li>
      World capitals - Dutch -
      <a href="https://cdn.kde.org/edu/kvtml/world_capitals-nl.kvtml">world_capitals-nl.kvtml</a>
      </li>

      <li>
      World capitals - Italian -
      <a href="https://cdn.kde.org/edu/kvtml/capitali_del_mondo.kvtml">capitali_del_mondo.kvtml</a>
      </li>

      <li>
      European capitals in German -
      <a href="https://cdn.kde.org/edu/kvtml/european_capitals.kvtml">european_capitals.kvtml</a>
      </li>

      <li>
      French departments -
      <a href="https://cdn.kde.org/edu/kvtml/departements.kvtml">departements.kvtml</a>,
      Learn the French departments - Apprenez les d&eacute;partements fran&ccedil;ais
      </li>
    </ul>

    <h5>{{ i18n "education.vocab.maths" }}</h5>
    <ul>
      <li>
      Learn to name the numbers in English (easy) -
      <a href="https://cdn.kde.org/edu/kvtml/numbers (easy).kvtml">numbers (easy).kvtml</a>
      </li>

      <li>
      Learn to name the numbers in English (hard) -
      <a href="https://cdn.kde.org/edu/kvtml/numbers (advanced).kvtml">numbers (advanced).kvtml</a>
      </li>
    </ul>

    <h5>{{ i18n "education.vocab.chemistry" }}</h5>
    <ul>
      <li>
      Chemical elements of the periodic table in English -
      <a href="https://cdn.kde.org/edu/kvtml/periodic table.kvtml">periodic table.kvtml</a>
      </li>

      <li>
      Amino acids in English -
      <a href="https://cdn.kde.org/edu/kvtml/aminos.kvtml">aminos.kvtml</a>,
      2 lessons: Amino Acid One letter Abbreviations and General R Group
      </li>
    </ul>

    <h5>{{ i18n "education.vocab.exam" }}</h5>
    <ul>
      <li>
      GRE preparation -
      <a href="https://cdn.kde.org/edu/kvtml/gretools.kvtml">gretools.kvtml</a>,
      Published by <a href="http://theory.cs.iitm.ernet.in/~arvindn/gretools/">GRETools</a>.
      </li>

      <li>
      SAT preparation -
      <a href="https://cdn.kde.org/edu/kvtml/SAT.kvtml">SAT.kvtml</a>,
      Published by <a href="http://www.freevocabulary.com/">http://www.freevocabulary.com/</a>.
      </li>

      <li>
      German - SRC preparation -
      <a href="https://cdn.kde.org/edu/kvtml/src_exam.kvtml">src_exam.kvtml</a>,
      Exam questions for German Short Range Certificate, see <a href="http://www.bmvbw.de">http://www.bmvbw.de</a>
      </li>

      <li>
      English/Spanish - ASE (Nationaly Institute of Automotive Service Excellence) exam topics -
      <a href="https://cdn.kde.org/edu/kvtml/A1_Engine_Repair.kvtml">A1_Engine_Repair.kvtml</a>,
      <a href="https://cdn.kde.org/edu/kvtml/A4_Steering_and_Suspension.kvtml">A4_Steering_and_Suspension.kvtml</a>,
      <a href="https://cdn.kde.org/edu/kvtml/A5_Brakes.kvtml">A5_Brakes.kvtml</a>,
      <a href="https://cdn.kde.org/edu/kvtml/A6_Electrical_Electronic_Systems.kvtml">A6_Electrical_Electronic_Systems.kvtml</a>,
      Words from: <a href="http://www.ase.com/Content/NavigationMenu/Service_Professionals1/Espa%F1ol/Glosarios_de_T%E9rminos/Glosarios_de_ASE_Ingl%E9s_Espa%F1ol.htm">http://www.ase.com/</a>
      </li>
    </ul>
  </section>
</main>
{{ end }}
