/*
 * SPDX-FileCopyrightText: 2020 (c) Carl Schwan <carl@carlschwan.eu>
 * SPDX-FileCopyrightText: 2022 Nguyen Hung Phu <phu.nguyen@kdemail.net>
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

/**
 * Used for kde.org/applications
 */
/* Application pages */

h1 a:after {
  margin: 0px 5px;
  color: #6F8181;
  content: ">";
  font-family: "glyph";
  font-size: 60%;
  vertical-align: middle;
}

.applications {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  align-items: top;
  grid-gap: 2em;
  padding-top: 2rem;
  .app {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15);
    padding: 1rem;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    * {
      color: var(--bs-body-color);
    }

    @media (prefers-color-scheme: dark) {
      background-color: var(--bs-gray-800);

      &[data-name="KGpg"] img,
      &[data-name="KDebugSettings"] img,
      &[data-name="Kolorfill"] img,
      &[data-name="KItinerary Command Line Extractor"] img,
      &[data-name="ELF Dissector"] img {
         filter: invert(1);
      }
    }
  }
  .app:hover {
    transform: translateY(-0.5vh);
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14);
  }
}

.store-badge {
  a {
    height: 90px;
  }

  .spaced-img {
    max-height: 80px;
  }

  .wide-img {
    width: 180px;
  }
}

.application-header {
  background-color: rgba(61, 174, 233, 0.1);
}

.unmaintained-header {
  background-color: #c0392b;

  p {
    color: white;
    margin-bottom: 0px;
  }
}

@media (max-width: 576px) {
  .icon-text-header {
    flex-direction: column;
  }
}
