/*
 * SPDX-FileCopyrightText: 2022 Nguyen Hung Phu <phu.nguyen@kdemail.net>
 * SPDX-License-Identifier: LGPL-2.1-or-later
 */

.home-header {
  background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
  .content {
    text-align: center;
  }
  h1, h2, h3, h4, h5 {
    margin: .4rem;
  }
}

.home-section {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    width: 20rem;
  }

  @media screen and (max-width: 992px) {
    flex-direction: column;
    text-align: center;
  }
}

.section-choose {
  justify-content: flex-end;
  text-align: right;

  @media screen and (max-width: 992px) {
    flex-direction: column-reverse;
    text-align: center !important;
  }
}
