{{/*
SPDX-FileCopyrightText: 2020 Carl Schwan <carl@carlschwan.eu>
SPDX-FileCopyrightText: 2021-2022 Nguyen Hung Phu <phu.nguyen@kdemail.net>
SPDX-License-Identifier: GPL-2.1-or-later or CECILL-2.1
*/}}

{{ define "main" }}
<main class="container">
  <h2>{{ .Title }}</h2>
  {{- range where .Data.Pages "Data.Term" "not in" (slice "addons" "unmaintained") }}
    <h3>{{ partial "term_title.html" . }}</h3>
  {{ end }}
</main>
{{ end }}
